<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>List of notes</title>
</head>
<body onload="sendJSON()">
<div class="main">
    <div class="menu">
        <h2>Меню</h2>
        <ul>
            <li><a href="/api/v1/mainAuthorized">На главную</a></li>
            <li><a href="/api/v1/listOfNotes">Список заметок</a></li>
            <li><a href="/api/v1/addNote">Добавить заметку</a></li>

            <li><form action="/api/v1/logout" method="POST">
                <button type="submit">Выйти</button>
            </form></li>
        </ul>
    </div>
    <div class="content">
        <p id="result"></p>

        <script>
            function sendJSON() {
                let result = document.querySelector('.result');
                let xhr = new XMLHttpRequest();
                let url = "/api/v1/note";
                xhr.open("GET", url, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status ===200) {
                        let data = JSON.parse(this.responseText);
                        for (let i in data) {
                            let j = Number(i) + Number(1);
                            document.getElementById("result").innerHTML += j + ". " + data[i].text;
                            document.getElementById("result").innerHTML += "<p style=\"color:gray\">" + "создана " + data[i].date + " в " + data[i].time + "</p>" + "<br>";
                        }
                    }
                }
                xhr.send();
            }
        </script>
    </div>
</div>
</body>
</html>