<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="main">
    <div class="menu">
        <h2>Меню</h2>
        <ul>
            <li><a href="/api/v1/mainUnauthorized">На главную</a></li>
            <li><a href="/api/v1/authorization">Авторизация</a></li>
            <li><a href="/api/v1/registration">Регистрация</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Приложение для сохранения приватных заметок пользователя</h1>
    </div>
</div>
</body>
</html>